{{page-title "Data"}}

<p>Here you can inspect the contents of the available turtle files.</p>

<p>At this moment {{@model.fileNames.length}} turtle files can be used to query on:</p>

{{#each @model.fileNames as |fileName|}}
<button type="button" {{on "click" (fn this.setData fileName)}} >{{fileName}}</button>
{{/each}}

<p>You can also add custom turtle files <LinkTo @route="upload">here.</LinkTo></p>

<br>

{{#if this.data}}

<div>The file {{this.fileName}} contains the following:</div>

<pre>{{this.data}}</pre>

{{/if}}

