<div class="top">

<p>This is a simple test page to try different uses of the comunica query-sparql module in ember.</p>
<p>Below you can find different functionalities to test.</p>

<h2>SPARQL SELECT queries</h2>
<SelectQueries @streamOutput={{this.outputBindings}}/>

<h2>SPARQL CONSTRUCT queries</h2>

<button type="button" {{on "click" this.constructExternalSource}}>Simple construct query to external source</button>

<h2>SPARQL ASK queries</h2>

<div class="left-side">
  <button type="button" {{on "click" this.askQueryAll}}>Simple general ask query</button>
  <button type="button" {{on "click" this.askQueryFalse}}>Simple negative ask query</button>
  <button type="button" {{on "click" this.askQueryTrue}}>Simple positive ask query</button>
</div>

<div class="right-side">
  <div class="inline">SPARQL ask query result: </div>
  <strong class="inline">{{this.ask_result}}</strong>
</div>

<br>

<h2>SPARQL INSERT queries</h2>

<button type="button" {{on "click" this.queryStore}}>Query all data from store</button>
<button type="button" {{on "click" this.insertStore}}>Insert data in store</button>
<button type="button" {{on "click" this.deleteStore}}>Delete data from store</button>
<button type="button" {{on "click" this.deleteInsertStore}}>Delete/Insert data in store</button>
<button type="button" {{on "click" this.loadIntoStore}}>Load data into store from file</button>
<button type="button" {{on "click" this.clearStore}}>Clear data from store</button>

<h2>SPARQL GRAPH querying</h2>

<button type="button" {{on "click" this.queryStore}}>Query all data from store from default graph</button>
<button type="button" {{on "click" this.querySpecifiedGraph}}>Query all data from store from specified graph</button>
<button type="button" {{on "click" this.insertSpecifiedGraph}}>Insert data in store in specified graph</button>
<button type="button" {{on "click" this.deleteSpecifiedGraph}}>Delete data from store from specified graph</button>
<button type="button" {{on "click" this.deleteInsertSpecifiedGraphAlt}}>Delete/Insert data in store in specified graph</button>
<button type="button" {{on "click" this.clearSpecifiedGraph}}>Clear data from store from specified graph</button>

<h2>Property paths</h2>

<button type="button" {{on "click" this.queryPathSequence}}>Query sequence path</button>
<button type="button" {{on "click" this.queryPathLongSequence}}>Query longer sequence path</button>
<button type="button" {{on "click" this.queryPathLongSequenceNoDuplicates}}>Query longer sequence path with filter</button>
<button type="button" {{on "click" this.inversePathSequence}}>Inverse path sequence</button>
<button type="button" {{on "click" this.inversePropertyPath}}>Inverse property path</button>
<button type="button" {{on "click" this.queryPathSequencePlus}}>A path of one or more occurrences</button>
<button type="button" {{on "click" this.queryPathSequenceNM}}>A path between n and m occurrences</button>
<button type="button" {{on "click" this.queryAlternativePath}}>A path between two alternatives</button>
</div>

<h2>Last executed query</h2>

<pre>{{this.last_query}}</pre>

<Split
  @title_left="Output"
  @contents_left={{this.output}}
  @title_right="Previous Output"
  @contents_right={{this.previous_output}}
/>

{{outlet}}