{{page-title "ComunicaSparqlEmber"}}

<h1>Comunica query-sparql test app</h1>

<p>This is a simple test page to try different uses of the comunica query-sparql module in ember.</p>
<p>Below you can find different functionalities to test.</p>

<h2>Simple queries</h2>

<button type="button" {{on "click" this.queryAll}}>Simple query to file</button>
<button type="button" {{on "click" this.queryLimit}}>Simple query to file with limit</button>
<button type="button" {{on "click" this.queryOrdered}}>Simple query to file with order</button>
<button type="button" {{on "click" this.queryOffset}}>Simple query to file with offset</button>
<button type="button" {{on "click" this.queryGroupAggregate}}>Simple query to file with group aggregates</button>
<button type="button" {{on "click" this.queryNested}}>Simple nested query to file</button>
<button type="button" {{on "click" this.queryBind}}>Simple query to file with binds</button>
<button type="button" {{on "click" this.queryValues}}>Simple query to file with values</button>

{{outlet}}